services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project_tracker_web
    ports:
      - "8000:80"
      - "5173:5173"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - project_network

  db:
    image: mysql:8
    container_name: project_tracker_db
    restart: always
    environment:
      MYSQL_DATABASE: project_tracker
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - project_network

networks:
  project_network:

volumes:
  db_data: